In [24]:
import pandas as pd
import matplotlib.pyplot as plt

train=pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
number = LabelEncoder()
train['gender'] = number.fit_transform(train['gender'].astype('str'))
test['gender'] = number.fit_transform(test['gender'].astype('str'))

In [27]:
train.head(20)

,session_id,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
0,140690,2017-07-02 00:00,858557,C,359520,13787,4,NaN,10.0,0,4.0,3.0,3.0,0,0
1,333291,2017-07-02 00:00,243253,C,105960,11085,5,NaN,8.0,0,2.0,2.0,NaN,0,0
2,129781,2017-07-02 00:00,243253,C,359520,13787,4,NaN,8.0,0,2.0,2.0,NaN,0,0
3,464848,2017-07-02 00:00,1097446,I,359520,13787,3,NaN,3.0,1,3.0,3.0,2.0,1,0
4,90569,2017-07-02 00:01,663656,C,405490,60305,3,NaN,2.0,1,2.0,3.0,2.0,1,0
5,151475,2017-07-02 00:01,509591,I,359520,13787,2,NaN,1.0,1,1.0,3.0,NaN,0,0
6,17583,2017-07-02 00:01,1091463,F,405490,60305,3,NaN,9.0,0,3.0,3.0,4.0,0,0
7,461128,2017-07-02 00:01,469098,C,360936,13787,3,NaN,4.0,1,4.0,3.0,4.0,0,0
8,390699,2017-07-02 00:02,611906,H,105960,11085,5,270915.0,NaN,2,NaN,NaN,NaN,0,0
9,353607,2017-07-02 00:02,418107,B,360936,13787,2,NaN,4.0,1,4.0,3.0,4.0,0,0
10,75282,2017-07-02 00:02,312475,C,405490,60305,3,NaN,2.0,1,2.0,3.0,4.0,1,0
11,428267,2017-07-02 00:02,312475,H,404347,53587,1,NaN,2.0,1,2.0,3.0,4.0,1,0
12,488298,2017-07-02 00:02,904394,H,359520,13787,3,NaN,3.0,1,3.0,3.0,2.0,1,0
13,21726,2017-07-02 00:02,243253,C,360936,13787,5,NaN,8.0,0,2.0,2.0,NaN,0,0
14,452485,2017-07-02 00:03,312475,C,360936,13787,3,NaN,2.0,1,2.0,3.0,4.0,1,0
15,191223,2017-07-02 00:03,312475,C,359520,13787,4,NaN,2.0,1,2.0,3.0,4.0,1,0
16,515635,2017-07-02 00:03,864110,H,405490,60305,3,NaN,2.0,1,2.0,3.0,4.0,1,0
17,2927,2017-07-02 00:03,295456,I,404347,53587,1,146115.0,9.0,0,3.0,3.0,3.0,1,0
18,453157,2017-07-02 00:03,901661,C,360936,13787,3,NaN,9.0,0,3.0,3.0,3.0,0,0
19,489372,2017-07-02 00:03,312475,H,359520,13787,3,NaN,2.0,1,2.0,3.0,4.0,1,0

In [28]:
train.shape

(463291, 15)

In [29]:
train.dtypes

session_id                  int64
DateTime                   object
user_id                     int64
product                    object
campaign_id                 int64
webpage_id                  int64
product_category_1          int64
product_category_2        float64
user_group_id             float64
gender                      int64
age_level                 float64
user_depth                float64
city_development_index    float64
var_1                       int64
is_click                    int64
dtype: object

In [30]:
product = {'A':1,'B':2, 'C': 3,'D':4,'E':5, 'F':6, 'G':7, 'H':8, 'I':9, 'J':10}
train.replace(product, inplace=True)
test.replace(product, inplace=True)
import numpy as np
train = train.replace(np.NaN, 0)
test = test.replace(np.NaN, 0)

In [31]:
train=train.drop(['DateTime'], axis=1)
test=test.drop(['DateTime'], axis=1)

train.head(5)

,session_id,user_id,product,campaign_id,webpage_id,product_category_1,product_category_2,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
0,140690,858557,3,359520,13787,4,0.0,10.0,0,4.0,3.0,3.0,0,0
1,333291,243253,3,105960,11085,5,0.0,8.0,0,2.0,2.0,0.0,0,0
2,129781,243253,3,359520,13787,4,0.0,8.0,0,2.0,2.0,0.0,0,0
3,464848,1097446,9,359520,13787,3,0.0,3.0,1,3.0,3.0,2.0,1,0
4,90569,663656,3,405490,60305,3,0.0,2.0,1,2.0,3.0,2.0,1,0

In [33]:
X_train=train.drop(['is_click'], axis=1)
X_train.shape
y_train = train['is_click']
y_train.shape
X_test= test

In [34]:
from sklearn import datasets, linear_model, model_selection, svm
from sklearn.ensemble import RandomForestClassifier

In [35]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)

In [81]:
clf = RandomForestClassifier(n_estimators=10,n_jobs=-1, random_state=1)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [82]:
clf.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [83]:
clf.predict_proba(X_test)

array([[0.8, 0.2],
       [0.9, 0.1],
       [1. , 0. ],
       ...,
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ]])

In [102]:
preds = clf.predict(X_test)
preds.shape

(128858,)

In [103]:
prediction = pd.DataFrame(data={'session_id': test['session_id'],'is_click':preds}).to_csv('predictions.csv')